<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student List</title>
</head>
<body>
    <h4>Student Details <a href="{% url 'add_student' %}">Add Students</a></h4>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a href="{% url 'edit_student' student.id %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
